body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 153, 1);
}
.title{
    font-size: xx-large;  
    background-color:black;
    border-radius: 200px;
    color: white;
}

.container {
    text-align: center;
}

.stopwatch {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 50px;
}

#display {
    font-size: 3rem;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #792709;
}

.laps {
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
    background: #444;
    border-radius: 10px;
    padding: 10px;
}

.lap {
    padding: 5px 0;
    border-bottom: 1px solid #555;
}
